body {
	margin: 0;
	background: white;
}

.header {
	width: 100%;
	height: 80vh;
	background: url(images/grandcherokee.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.rectangle {
	height: 20vh;
	width: 100%;
	background-color: grey;
	position: fixed;
	opacity: 0;
	box-shadow: 10px 10px 5px black;
}

.image1 {
	display: block;
	float: left;
	padding-left: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 20%;
	position: fixed;
	width: 10%;
}

nav {
	top: 0;
	width: 100%;
	transition: .5s;
	position: fixed;
	line-height: 60px;
	min-height: 85px;
}

nav ul {
	margin: 0;
	text-align: center;
	float: right;
	padding-right: 42px;
	padding-top: 30px;
}

nav ul li {
	font-size: 1vw;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	padding: 5px 10px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 1.5vw;
	font-family: source-sans-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.dropbtn {
	background-color: transparent;
    -webkit-appearance: none;
	color: white;
	padding: .5vw;
	font-size: 1.5vw;
	border: none;
	cursor: pointer;
	font-family: source-sans-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #72b20c;
  	color: #ffffff !important;
	background: #72b20c;
	border-color: #72b20c !important;
	transition: all 0.4s ease 0s;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 100%;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	transition: all 0.4s ease 0s;
}

.dropdown-content a {
	color: black;
	padding: 0px 10px;
	text-align: left;
	font-family: source-sans-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5vw;
	text-decoration: none;
	display: block;
	text-align: center;
	transition: 0.4s ease 0s;
}

.dropdown a:hover {
	background-color: #72b20c;
	color: #ffffff !important;
	background: #72b20c;
	border-color: #72b20c !important;
	transition: all 0.4s ease 0s;
	transition: 0.4s ease 0s;
}

.show {display: block;}

.dropdown:hover .dropdown-content {
	display: block;
	transition: 0.4s ease 0s;
}

.dropdown:hover .dropbtn {
	background-color: #72b20c;
	transition: 0.4s ease 0s;
}

.show {display: block;}

.scrolled {
	min-height: 10px;
	background: grey;
	transition: 0.4s ease 0s;
	opacity: .5;
}

main h1 {
	padding-top: 0px;
	font-family: source-sans-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3vw;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

main p {
	font-family: source-sans-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.8vw;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

main h6 {
	font-family: source-sans-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2vw;
	padding-left: 150px;
	padding-right: 150px;
	text-align: center;
}

.cherokee {
    width: 100%;
	height: 50vh;
	color: white;
	background: url(images/newcherokee.jpg);
	background-size: cover;
	display: block;
}

.cherokee a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: source-sans-pro,sans-serif;
    text-decoration: none;
    float: middle;
}

.cherokee:hover {
	min-height: 10px;
	transition: 0.4s ease 0s;
	opacity: .5;
}

.grandcherokee {
    width: 100%;
	height: 50vh;
	background: url(images/grandcherokee1.jpg);
	background-size: cover;
	display: block;
}

.grandcherokee a {
    margin-left: auto;
    margin-right auto;
    color: white;
    text-align: center;
    font-family: source-sans-pro,sans-serif;
    text-decoration: none;
    float: middle;
}

.grandcherokee:hover {
	min-height: 10px;
	transition: 0.4s ease 0s;
	opacity: .5;
}

.example_c {
	color: #494949 !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #494949 !important;
	border-radius: 6px;
	display: inline-block;
	text-decoration: none;
	font-family: source-sans-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 1.2vw;
}

.example_c:hover {
	color: #ffffff !important;
	background: #72b20c;
	border-color: #72b20c !important;
	transition: all 0.4s ease 0s;
}

section {
	width: 100%;
	height: 88vh;
	background: url(images/);
	background-size: cover;
	background-attachment: fixed;
}

article {
	font-family: source-sans-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-left: 20px;
}


footer {
    padding-top: 40 px;
}

footer h2 {
    text-align: center;
    padding: 1px 1px 1px 1px;
    background: white;
}

footer h3 {
    background: white;
    text-align: center;
}

footer ul {
    color: #000;
    background: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}